@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Fjalla+One&family=Itim&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
    
}

nav a {
    font-family: Comfortaa, Fjalla One, Itim;
    text-decoration: none;
    color: #D9E5D6;
    text-align: center; 
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 { 
    font-family: Comfortaa, Fjalla One, Itim;
    text-align: center; 
    
}

.button-box {
    font-family: Comfortaa, Fjalla One, Itim;
    text-align: center; 

}
main section {
    font-family: Comfortaa, Fjalla One, Itim;
    text-align: center; 
}

#content * {
    width: 100%;
}

#background {
    height: 725px;

}

body {
    background-color:white;
}

header {
    background-color: #0FA3B1;

}

nav a:hover {
    font-family: Comfortaa, Fjalla One, Itim;
    color:black;
    background-color: #D9E5D6;
}

.book, .join {
    font-family: Comfortaa, Fjalla One, Itim;
    text-decoration: none;
    color: #0FA3B1;
    background-color:white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    
}



.book:hover, .join:hover {
    font-family: Comfortaa, Fjalla One, Itim;
    color: #D9E5D6;
    background-color: black;
}


#background {
    background-color: #D9E5D6;
    margin-top: 200px;
}

.msg {
    line-height: 1.5em;
    background-color: #0FA3B1;
    padding: 35px;
    margin-top: 200px;
}

footer {
    font-family: Comfortaa, Fjalla One, Itim;
    color: #0FA3B1;
    background-color: #D9E5D6;
    margin-top: 200px;
    padding: 25px 50px

}

.home-title {
    color: black;
    font-family:Comfortaa, Fjalla One, Itim;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #FF9B42;
}

.msg h2 {
    color: #EDDEA4;
    font-family: Comfortaa, Fjalla One, Itim;
}

.msg p {
    font-family: Comfortaa, Fjalla One, itim;
    color: #EDDEA4;
    font-size: .8em;
    padding-bottom: 15px;
    
}
footer a {
    font-family: Comfortaa, Fjalla One, Itim;
    text-decoration: none;
    color: #0FA3B1;
}
footer a:hover {
    font-family: Comfortaa, Fjalla One, Itim;
    color: #FF9B42;
}

.icon{
    max-width: 80px;
    max-height: 80px;
    padding-top: 10px;
}
.logo{
    max-width: 80px;
    max-height: 80px;
    margin-top: 0;
}

#hero-img{
    max-width: 100%;
    margin-top: 0;


}

footer p a:hover{
    text-decoration: underline;
    font-family: Comfortaa, Fjalla One, Itim;
}

footer p{
    font-size: 1.2em;
}

img{
    max-width: 40%;
    max-height: 40%;
    margin-top: 100px;
}

.social{
    display: inline-block;
    padding: 5px;
    max-width: 150px;
    max-height: 150px;
}
 body{
    font-family: Comfortaa, Fjalla One, Itim;
    font-size: 22px;
    margin: 0;
    padding: 0;
 }

.headline{
    font-weight : Comfortaa, Fjalla One, Itim;
}


h2{
    margin: 0;
}

#logo_link{
    padding-top: 5px;
}

footer .social img{
    padding-top: 15px;
    margin-top: 0px;
    max-width: 25%;
    max-height: 25%;
}

.rivers-card .camping-card, .rapids-cards{
    margin: 200px 0;
}

.card-img{
    border: 10px solid #d9c2a3;
    margin-top: 200px;
    max-width: 25%;
    max-height: 25%;
}

main section img{
    box-sizing: border-box;
}